
.formInicio{
/*	margin: auto;
	width: 100%;
	max-width: 500px;
	background: white;*/
        margin-top: 100px;
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.2);
        background: #000\9 ;
        color:#ac2925;
}

/*body{
    background-image: url(../imagenes/BARRIOprueba.jpg);
    
}*/